/* Don't forge to hard refresh to clear the css and js cache */
/* The . means that it is a class, # means id, just p means the tag itself */
.yip {
    color: purple;
    background-color: yellow;
    display: inline-block;
}

.jumbotron {
    background-image: url("https://i.pinimg.com/originals/4b/b0/ae/4bb0ae86f6ebc52cb98cd15d01685245.jpg");
    background-size: cover;
    color: white;
}